@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #575656c2;
}

.active{
    background-color: #e7e7e8;
    border-color: #989995;
}

@layer utilities {
  .font-jost {
    font-family: 'Jost', sans-serif;
  }
}